apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    name: rpaas-api
spec:
  selector:
    matchLabels:
      name: rpaas-api
  replicas: 1
  template:
    metadata:
      labels:
        name: rpaas-api
    spec:
      containers:
      - command:
        - rpaas-api
        image: tsuru/rpaas-api:latest
        name: rpaas-api
        ports:
          - name: api
            containerPort: 9999
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
      terminationGracePeriodSeconds: 10
